@model List<Retailer>


<div class="container w-75 p-3">
    <section class="page-section" id="portfolio">

        @if (Model.Count == 0 || Model == null) //If no deal or product is present
        {
            <div class="text-center">
                <h2 class="section-heading text-uppercase">No retailers yet!</h2>
            </div>

        }

        else
        {
            @*-------Header Text---------*@
            <div class="text-center">
                <h2 class="section-heading text-uppercase">All Retailers - Admin View</h2>
            </div>

            @*-------Products Information---------*@

            <div class="row justify-content-center">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Id</th>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Street</th>
                            <th scope="col" class="align-middle">City</th>
                            <th scope="col" class="align-middle">State</th>
                            <th scope="col" class="align-middle">Zipcode</th>
                            <th scope="col" class="align-middle">Products</th>
                            <th scope="col" class="align-middle text-center" style="white-space: nowrap;">Created at</th>
                            <th scope="col" class="align-middle text-center" style="white-space: nowrap;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var retailer in Model)
                        {
                            var productNames = "";

                            @if (retailer.Products.Count != 0)
                            {
                                foreach (var product in retailer.Products)
                                {
                                    productNames = product.Name + " ";
                                }

                            }
                            <tr>
                                <th class="align-middle">@retailer.Id</th>
                                <td class="align-middle">@retailer.Name</td>
                                <td class="align-middle">@retailer.Street</td>
                                <td class="align-middle text-center" style="white-space: nowrap;">@retailer.City</td>
                                <td class="align-middle text-center" style="white-space: nowrap;">@retailer.State</td>
                                <td class="align-middle text-center" style="white-space: nowrap;">@retailer.Zipcode</td>
                                <td class="align-middle text-center" style="white-space: nowrap;">@productNames</td>
                                <td class="align-middle text-center" style="white-space: nowrap;">@retailer.TimeLog</td>
                                <td class="align-middle text-center" style="display: flex; white-space: nowrap;">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="categoryButton mr-1 mt-2" id="deleteCategory" asp-controller="Products" asp-action="Delete" asp-route-id="@retailer.Id"> <span> <i class="fas fa-trash-alt"></i> </span> </a>
                                    }
                                    <a class="categoryButton mt-2" id="editCategory" asp-controller="Products" asp-action="Edit" asp-route-id="@retailer.Id"> <span> <i class="far fa-edit"></i> </span> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }

        @if (Model.Count > 0) //If no deal or product is present
        {
            <!-- Retailer Locations-->
            <div class="container pt-xl-5">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Retailer Map</h2>
                    <h3 class="section-subheading text-muted mb-3">Find the locations of all retailes here</h3>
                </div>
                <div id="GoogleMaps" style="width:100%;height:400px;"></div>
            </div>
        }

    </section>
</div>




@section scripts{
    <script type="text/javascript">
        //jQuery Function for Modal
        $(function () {
            $('img').on('click', function () {
                $('.imagepreview').attr('src', $(this).attr('src'));
                $('#imagemodal').modal('show');
            });
        });

        //Google Maps
        function initMap() {
                var bounds = new google.maps.LatLngBounds();
                const map = new google.maps.Map(document.getElementById("GoogleMaps"), {
                    zoom: 8,
                    center: { lat: 39.0942823, lng: -94.5906067 },
                });
                bounds.extend({ lat: 39.0942823, lng: -94.5906067 });

                     @foreach (var item in Model)
                {
                    <text>
                var marker = new google.maps.Marker({
                    position: { lat: @item.Latitude, lng: @item.Longitude },
                    map: map,
                    label:"@item.Name",
                });
                bounds.extend({ lat: @item.Latitude, lng: @item.Longitude });
                    </text>
                }
                map.fitBounds(bounds);
        }

    </script>
}

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqXHMNoJJwES8K9SkbOgKejtmsH52QlYo&callback=initMap&libraries=&v=weekly"></script>

