@model AddProductViewModel;

<div class="container w-75 p-3 pb-0 mb-0">
    <section class="page-section pb-0 mb-0" id="portfolio">
        <div class="container pb-0 mb-0">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Product Details</h2>
                <h3 class="section-subheading text-muted mb-2">Find more information on this product here.</h3>
            </div>

            <form enctype="multipart/form-data" aps-controller="Products" asp-action="Edit" method="post">

                @*-------Pass ProductId and RetailerId to new model view object----------*@
                <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
                <input type="hidden" asp-for="RetailerId" value="@Model.RetailerId">

                @*-------Product Picture----------*@
                <div class="container-fluid">

                    <div class="row">
                        <div class="col no-gutter d-flex justify-content-around">
                            @if (@Model.Picture == null)
                            {
                                <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                                    <img class="img-thumbnail" src="~/images/DefaultPicture" alt="DefaultPicture" asp-append-version="true" />
                                    <button class="btn btn-outline-danger" onclick="myFunction()">
                                        <i class="far fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete Image"></i>
                                    </button>
                                </div>
                            }

                            @*-----If there is no picture uploaded use the default picture---*@
                            else
                            {
                                <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                                    <img class="img-thumbnail" src="~/images/@Model.Picture" alt="ProductPicture" asp-append-version="true" />
                                    <button class="btn btn-outline-danger" onclick="myFunction()">
                                        <i class="far fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete Image"></i>
                                    </button>
                                </div>
                            }

                            @*-----check to see if the product has a second picture---*@
                            @if (@Model.Picture2 != null)
                            {
                                <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                                    <img class="img-thumbnail" src="~/images/@Model.Picture2" alt="ProductPicture2" asp-append-version="true" />
                                    <button class="btn btn-outline-danger" onclick="myFunction()">
                                        <i class="far fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete Image"></i>
                                    </button>
                                </div>
                            }

                            @*-----check to see if the product has a third picture---*@
                            @if (@Model.Picture3 != null)
                            {
                                <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                                    <img class="img-thumbnail" src="~/images/@Model.Picture3" alt="ProductPicture2" asp-append-version="true" />
                                    <button class="btn btn-outline-danger" onclick="myFunction()">
                                        <i class="far fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete Image"></i>
                                    </button>
                                </div>
                            }

                            @*-----check to see if the product has a fourth picture---*@
                            @if (@Model.Picture4 != null)
                            {
                                <div class="col-xs-4 col-sm-3 col-lg-2 text-center">
                                    <img class="img-thumbnail" src="~/images/@Model.Picture4" alt="ProductPicture2" asp-append-version="true" />
                                    <button class="btn btn-outline-danger" onclick="myFunction()">
                                        <i class="far fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete Image"></i>
                                    </button>
                                </div>
                            }
                        </div>



                        @*-------Product Info----------*@
                        <div class="col">
                            <table class="table table-hover bg-light text-center">
                                <tr>
                                    <th class="align-middle">Name</th>
                                    <td class="align-middle">
                                        <input class="form-control" asp-for="Name" type="text" value="@Model.Name" />
                                        <span asp-validation-for="Name"></span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Name"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Description</th>
                                    <td class="align-middle">
                                        <input class="form-control" asp-for="Description" type="text" value="@Model.Description" />
                                        <span asp-validation-for="Description"></span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Description"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Quantity</th>
                                    <td class="align-middle">
                                        <input class="form-control" asp-for="Quantity" type="text" value="@Model.Quantity" />
                                        <span asp-validation-for="Quantity"></span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Quantity"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Price</th>
                                    <td class="align-middle">
                                        <input class="form-control" asp-for="Cost" type="text" value="@Model.Cost" />
                                        <span asp-validation-for="Cost"></span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Price"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Category</th>
                                    <td class="align-middle">
                                        <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories" value="@Model.CategoryId">
                                            <option value="">Pick a Category</option>
                                        </select>
                                        <span asp-validation-for="CategoryId"></span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Edit Category"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                @*-------Retailer Info Button----------*@
                <div class="container" style="margin-bottom:10px; margin-top:10px">
                    <div class="text-center">
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#retailer">Update Retailer</a>
                    </div>
                </div>


                @*-------Retailer Information----------*@
                <section class="page-section" style="padding-top:40px; margin-bottom:0px;" id="retailer">
                    <div class="text-center pt-3">
                        <h2 class="section-heading text-uppercase">Retailer Details</h2>
                        <h3 class="section-subheading text-muted mb-2">Update retail information here.</h3>
                    </div>


                    <div class="row align-items-center">
                        <table class="w-75 m-auto table table-hover bg-light text-center">

                            <tr>
                                <th class="align-middle">Name</th>
                                <td class="align-middle">
                                    <input class="form-control" asp-for="Retailer.Name" type="text" value="@Model.Retailer.Name" />
                                    <span asp-validation-for="Retailer.Name"></span>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="save Retailer Name"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle">Address</th>
                                <td class="align-middle" id="locationField">
                                    <input class="form-control" id="autocomplete" placeholder="Enter street address. We will autofill the rest." type="text" />
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="save Retailer Name"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle">Street</th>
                                <td class="align-middle">
                                    <input class="form-control" id="street_number" asp-for="Retailer.Street" type="text" value="@Model.Retailer.Street" disabled />
                                    <span asp-validation-for="Retailer.Street"></span>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Street"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle">City</th>
                                <td class="align-middle">
                                    <input class="form-control" id="locality" asp-for="Retailer.City" type="text" value="@Model.Retailer.City" disabled />
                                    <span asp-validation-for="Retailer.City"></span>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save City"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle">State</th>
                                <td class="align-middle">
                                    <input class="form-control" id="administrative_area_level_1" asp-for="Retailer.State" type="text" value="@Model.Retailer.State" disabled />
                                    <span asp-validation-for="Retailer.State"></span>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save State"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle">Zipcode</th>
                                <td class="align-middle">
                                    <input class="form-control" id="postal_code" asp-for="Retailer.Zipcode" type="text" value="@Model.Retailer.Zipcode" disabled />
                                    <span asp-validation-for="Retailer.Zipcode"></span>
                                </td>
                                <td class="align-middle">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-save  " data-toggle="tooltip" data-placement="right" title="Save Zipcode"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>

            </form>


        </div>
    </section>
</div>




@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

@*        //Initialize tooltip with jQuery
        $(document).ready(function () {
            $('.tooltips').tooltip();
        });*@

        //Make all address fields "un-disabled" in order to submit them, othewise form doesn't submit
        $(document).ready(function () {
            $("button").click(function () {
                $("input").prop("disabled", false);
            });
        });

    </script>
}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqXHMNoJJwES8K9SkbOgKejtmsH52QlYo&callback=initAutocomplete&libraries=places&v=weekly"
        defer></script>
<script>
    let placeSearch;
    let autocomplete;
    const componentForm = {
        street_number: "short_name",
        route: "long_name",
        locality: "long_name",
        administrative_area_level_1: "short_name",
        postal_code: "short_name",
    };
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById("autocomplete"),
            { types: ["geocode"] }
        );
        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(["address_component"]);
        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener("place_changed", fillInAddress);
    }
    function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        initMap();
        for (const component in componentForm) {
            if (component != "route") { // street_number and route fields are combined into one field, street. So they don't need to be cleared out
                document.getElementById(component).value = ""; //clear out the input fields
                //document.getElementById(component) = false; //street field is editable after autofill
            }
        }
        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (const component of place.address_components) {
            const addressType = component.types[0];
            if (componentForm[addressType]) {
                let val = component[componentForm[addressType]];
                if (addressType == "street_number") {
                    document.getElementById("street_number").value = val;
                }
                else if (addressType == "route") {
                    document.getElementById("street_number").value += " " + val;
                }
                else {
                    document.getElementById(addressType).value = val;
                }
            }
        }
    }
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 },
        });
        const geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
    }
    function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("autocomplete").value;
        geocoder.geocode({ address: address }, (results, status) => {
            if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
                new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location,
                });
                var lng = results[0].geometry.location.lng();
                var lat = results[0].geometry.location.lat();
                console.log(lng);
                console.log(lat);
                //Reset Latitude and Longitude information in the form to ensure data integrity
                document.getElementById("latitude").value = "";
                document.getElementById("longitude").value = "";
                //Save Latitude and Longitude information to the form input element to be saved in the database
                document.getElementById("latitude").value = lat;
                document.getElementById("longitude").value = lng;
            } else {
                alert(
                    "Geocode was not successful for the following reason: " + status
                );
            }
        });
    }
</script>

<div id="map">
</div>
