@page
@model RegisterModel


<div class="container" style="padding-top:10px; width:30%;">
    <section class="page-section" id="about">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">SIGN UP</h2>
            <h3 class="section-subheading text-muted mb-3">You need to create an account in order to add products/deals</h3>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3 justify-content-around">
                <!-- First Name input -->
                <div class="col">
                    <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="First name" />
                    <small><span asp-validation-for="Input.FirstName" class="text-danger"></span></small>
                </div>
                <!-- Last Name input -->
                <div class="col">
                    <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Last name" />
                    <small><span asp-validation-for="Input.LastName" class="text-danger"></span></small>
                </div>
            </div>

            <!-- Email input -->
            <div class="row mb-3 justify-content-around">
                <div class="col form-outline">
                    <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" />
                    <small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
                </div>
            </div>

            <!-- Password input -->
            <div class="row mb-3 justify-content-around">
                <div class="col form-outline">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" />
                    <small><span asp-validation-for="Input.Password" class="text-danger"></span></small>
                </div>
            </div>

            <!-- Password Confirmation input -->
            <div class="row mb-3 justify-content-around">
                <div class="col form-outline">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                    <small><span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span></small>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row mb-3 justify-content-center">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
        </form>


        <!-- Social Media Logins -->
        <div class="text-center">

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                }
                else
                {
                    <p>or sign up with:</p>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name == "Google")
                            {
                                <button type="submit" class="btn btn-primary btn-floating mx-1" value="@provider.Name" name="provider">
                                    <i class="fab fa-google"></i>
                                </button>
                            }


                            else if (provider.Name == "Facebook")
                            {
                                <button type="submit" class="btn btn-primary btn-floating mx-1" value="@provider.Name" name="provider">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                            }

                            else if (provider.Name == "Twitter")
                            {
                                <button type="submit" class="btn btn-primary btn-floating mx-1" value="@provider.Name" name="provider">
                                    <i class="fab fa-twitter"></i>
                                </button>
                            }

                            else if (provider.Name == "Github")
                            {
                                <button type="submit" class="btn btn-primary btn-floating mx-1" value="@provider.Name" name="provider">
                                    <i class="fab fa-github"></i>
                                </button>
                            }
                        }

                    </form>
                }
            }
        </div>
    </section>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
