@model List<UserRolesViewModel>

<div class="container w-75 p-3">
    <section class="page-section" id="portfolio">
        <div class="container">

            <div class="text-center">
                <h2 class="section-heading text-uppercase">User Rules - Admin View</h2>
                <h3 class="section-subheading text-muted">View and manage assigned roles here</h3>
            </div>            
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@string.Join(" , ", user.Roles.ToList())</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="container">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-controller="UserRoles" asp-action="Add">Add Roles</a>
            </div>
        </div>
</section>           
</div>